@charset "UTF-8";

#titulo{
    padding: 20px 75px;
}

#titulo > h1{
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 20px;
}

#titulo > img{
    width: 200px;
}

#post-grid{
    margin: 30px 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.posts{
    width: 400px;
    background-color: #fffaf2;
}

.posts > img{
    width: 100%;
    height: 270px;
}

.posts > h4{
    font-size: 30px;
    padding: 20px;
}

#data{
    font-size: 14px;
    padding-left: 20px;
    color: #313131;
}

.posts > p{
    color: #313131;
    padding: 20px;
    line-height: 1.8em;
}

.post-btn{
    width: 100px;
    height: 40px;
    border: none;
    background-color: var(--principal);
    color: black;
    font-family: "Josefin Sans";
    font-size: 16px;
    margin: 10px 0px 20px 20px;
    transition: .4s;
}

.post-btn:hover, .post-btn:active{
    background-color: var(--secundario);
    color: #fff;
    transition: .4s;
}

@media screen and (max-width: 768px) {
    #titulo{
        padding-left: 40px;
    }

    #titulo > h1{
        font-size: 80px;
    }

    #post-grid{
        margin: 30px 20px;
        grid-template-columns: 1fr 1fr;
    }

    .posts{
        width: 350px;
    }
}

@media screen and (max-width: 520px) {
    #titulo{
        display: flex;
        padding-left: 0px;
        padding-right: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #titulo > h1{
        font-size: 70px;
        text-align: center;
    }

    #post-grid{
        grid-template-columns: 1fr;
        margin: 30px 10px;
        justify-items: center;
    }

    .posts > img{
        height: 220px;
    }

    .posts > p{
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 320px) {
    .posts{
        width: 100%;
    }
}